#title{
	background: steelblue;
padding: 20px;

}

#button{
	text-align: center;
	background: #FFFFFF


}

body{
	font-family: "Montserrat", "Avenir";
	background: #000000;
	margin: 0px;

}

h1{
	text-align: center;
	color: white;
	margin: 0;
}

button:hover{
	background-color: steelblue;
	color: #FFFFFF;
}

.btns{
	border: none;
	font-size: 24px;
	font-weight: 100;
	background-color: #FFFFFF;
	color: steelblue;

}

.btns:focus{
	outline: none;
	box-shadow: none;
}

#reset:focus{
	outline: none;
	box-shadow: none;
}

.selected{
	background-color: steelblue;
	color: #FFFFFF;
}

#reset{
	border: none;
	font-size: 24px;
	background-color: #FFFFFF;
	color: steelblue;
}

#reset:hover{
	background-color: steelblue;
	color: #FFFFFF;
}

.square {
 width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
  
  
}

#squares{
	margin: 20px auto;
	max-width: 600px;
}